@model YHVegeterianFoodOrderingSystem.Models.Menu

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Image</h2>

<div class="row">
    <section>
        <form method="post" enctype="multipart/form-data"
              asp-controller="UploadFiles" asp-action="Index">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Please choose <b>at least one</b> file to upload!</p>
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload File" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Warning: Images uploaded to blob will overwrite the existing images in the blob!!</p>
                    <br/>
                    <a asp-controller="Blobs" asp-action="UploadMultipleImages">Move Uploaded File To Blob</a>
                </div>
            </div>
        </form>
    </section>
</div>

@if (ViewBag.content != null)
{
    <script>alert("@ViewBag.content");</script>
}

<div>
    <a asp-area="" asp-controller="Menus" asp-action="Index">Back To Menu</a>
</div>

