@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>YH Vegetarian Food Ordering System</h2>
    <p>To view Menu image, please click on the Gallery button</p>

</div>
