@using Microsoft.AspNetCore.Identity
@using YHVegeterianFoodOrderingSystem.Areas.Identity.Data

@inject SignInManager<YHVegeterianFoodOrderingSystemUser> SignInManager
@inject UserManager<YHVegeterianFoodOrderingSystemUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = from m in UserManager.Users
                   where m.UserName.Equals(UserManager.GetUserName(User))
                   select m.Role;
        foreach (string Role in user)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>

            if (Role == "Customer")
            {

            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Index">Edit Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="UserInfo" asp-action="Index">Edit User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PurchaseHistories" asp-action="Index">View Purchase History</a>
                </li>
            }
        }

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
