@model PurchaseHistory;

@{
    ViewData["Title"] = "Index";
}

<script src="~/js/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("input[type=number]").change(function () {
            CalculateSubTotal();
        });
    });

    function CalculateSubTotal() {
        var UnitPrice = $("#txtUnitPrice").val();
        var Quantity = $("#txtQuantity").val();

        var Total = UnitPrice * Quantity;

        $("#txtTotal").val(parseFloat(Total).toFixed(2));
    }

</script>

<h1 class="bg-info-text-white">Order Food</h1>

@using (Html.BeginForm("Index", "ViewMenus", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>
            Personal Details
        </legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    Customer Name:
                    <input asp-for="CustomerName" type="text" id="txtCustomerName" name="CustomerName" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    Total Payment:
                    <input style="text-align: right" type="text" value="0.00" name="FinalTotal" readonly="readonly" id="txtFinalTotal" />
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend>
            Food Details
        </legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    Food:
                    <select asp-for="PurchasedFood">
                        <option value="Set A">Vegeterian Burger</option>
                        <option value="Set B">Salad</option>
                        <option value="Set C">Sandwich</option>
                    </select>
                    <!--Food Name:
                    Html.DropDownList("FoodDDL", new SelectList(ViewBag.FoodName), new { class = "form-group" })-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    Unit Price:
                    <input style="text-align: right" type="text" readonly="readonly" id="txtUnitPrice" name="UnitPrice" value="5.50" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    Quantity:
                    <input asp-for="Quantity" type="number" id="txtQuantity" name="Quantity" value="0" min="0" max="10" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    Total:
                    <input asp-for="TotalPrice" style="text-align: right" type="text" id="txtTotal" readonly="readonly" name="Total" value="0.00" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="make">
                    <input type="submit" value="Order Food" name="AddToList" id="btnAddToList" class="btn btn-success" />
                </div>
            </div>
        </div>
    </fieldset>
}