@model IEnumerable<YHVegeterianFoodOrderingSystem.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Food Menu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="AddToCart" method="post">
    <div class="form-group">
        Food Name:
        @Html.DropDownList("FoodName")  
    </div>
    <div class="form-group">
        Unit Price:
        <input type="text" readonly="readonly" name="UnitPrice" value=@ViewBag.UnitPrice />
    </div>
    <div class="form-group">
        Quantity:
        <input type="number" name="Quantity" value="0" min="0" max="10"/>
    </div>
    <div class="form-group">
        Total:
        <input type="text" readonly="readonly" name="Total" value="0.00" />
    </div>
    <div class="form-group">
        <input type="button" name="AddToList" value="Add To List" />
    </div>
</form>

<fieldset>
    <legend>Restaurant List Items</legend>
    <table width="100%">
        <thead>
            <tr>
                <th hidden>
                    Food ID
                </th>
                <th>
                    Food Name
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
    </table>
</fieldset>